

/* Container */

.container-cart{
    width:1200px;
    margin:30px auto;

}

/* Header Cart */

.cart-header{

    background:white;

    display:grid;

    grid-template-columns:
    60px
    1fr
    170px
    170px
    170px
    120px;

    align-items:center;

    padding:18px;

    color:#666;

    margin-bottom:15px;

}

/* Product */

.cart-item{

    background:white;

    display:grid;

    grid-template-columns:
    60px
    1fr
    170px
    170px
    170px
    120px;

    align-items:center;

    padding:20px;

    margin-bottom:15px;

    transition:.3s;

}

.cart-item:hover{

    box-shadow:0 5px 20px rgba(0,0,0,.1);

}

.info{

    margin-left:15px;

}

.info h3{

    margin-bottom:10px;

    font-size:18px;

}

.info p{

    color:#888;

}

.price{

    text-align:center;

}

.total{

    text-align:center;

    color:#ee4d2d;

    font-weight:bold;

}

/* Quantity */

.quantity{

    display:flex;

    justify-content:center;

    align-items:center;

}

.quantity button{
    width:35px;
    height:35px;
    border:1px solid #ddd;
    background:white;
    cursor:pointer;
    color:  black;

}

.quantity input{

    width:45px;

    height:35px;

    text-align:center;

    border:1px solid #ddd;

}

/* Delete */

.action{

    text-align:center;

}

.delete{

    background:none;

    border:none;

    color:red;

    font-size:22px;

    cursor:pointer;

}

/* Footer */

.checkout{

    position:fixed;

    bottom:0;

    left:0;

    width:100%;

    height:90px;

    background:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 120px;

    box-shadow:0 -3px 10px rgba(0,0,0,.08);

}

.checkout-right{

    display:flex;

    align-items:center;

}

.checkout-right span{

    color:#ee4d2d;

}

.checkout button{

    margin-left:25px;

    width:180px;

    height:50px;

    background:#ee4d2d;

    color:white;

    border:none;

    border-radius:3px;

    cursor:pointer;

    font-size:18px;

}

.checkout button:hover{

    opacity:.9;

}




.cart-menu {
    position: relative;
    display: inline-block;
}

.cart-link {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

/* Menu con */
.cart-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 180px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 1000;
}

/* Di chuột vào Giỏ hàng thì hiện menu */
.cart-menu:hover .cart-dropdown {
    display: block;
}

/* Link trong menu */
.cart-dropdown a {
    display: block;
    padding: 12px 15px;
    color: #333;
    text-decoration: none;
}

/* Hover menu con */
.cart-dropdown a:hover {
    background-color: #f5f5f5;
    color: #ee4d2d;
}