*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f5f5f5;
}

/* Banner */

.banner{
    height:450px;
    background:linear-gradient(to right,#007bff,#00c6ff);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
}

.banner-content{
    text-align:center;
}

.banner h1{
    font-size:55px;
    margin-bottom:20px;
}

.banner p{
    font-size:22px;
    margin-bottom:30px;
}

.banner button{
    padding:15px 35px;
    border:none;
    background:#ff5722;
    color:white;
    border-radius:8px;
    cursor:pointer;
}

/* Category */

.category-section{
    width:90%;
    margin:50px auto;
}

.category-section h2{
    margin-bottom:30px;
}

.category-list{
    display:flex;
    justify-content:space-between;
    gap:20px;
}

.category-card{
    flex:1;
    background:white;
    padding:30px;
    text-align:center;
    border-radius:10px;
    font-size:22px;
    cursor:pointer;
    transition:.3s;
}

.category-card:hover{
    transform:translateY(-5px);
    background: aqua;
}

/* Product */

.product-section{
    width:90%;
    margin:60px auto;
}

.product-section h2{
    margin-bottom:30px;
}

.product-list{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.product-card{
    background:white;
    border-radius:10px;
    overflow:hidden;
    text-align:center;
    box-shadow:0 3px 8px rgba(0,0,0,.1);
}

.product-card img{
    width:100%;
}

.product-card h3{
    margin:15px 0;
}

.price{
    color:red;
    font-size:22px;
    font-weight:bold;
}

.product-card button{
    width:100%;
    padding:15px;
    border:none;
    background:#007bff;
    color:white;
    cursor:pointer;
    margin-top:20px;
}

/* Sale */

.sale{
    margin:70px 0;
}

.sale-box{
    width:90%;
    margin:auto;
    background:#ff5722;
    color:white;
    padding:50px;
    border-radius:10px;
    text-align:center;
}

.sale-box h2{
    font-size:40px;
    margin-bottom:15px;
}

.sale-box p{
    font-size:20px;
    margin-bottom:20px;
}

.sale-box button{
    padding:15px 35px;
    border:none;
    cursor:pointer;
    border-radius:5px;
}

/* Footer */

footer{
    background:#222;
    color:white;
    padding:30px;
    text-align:center;
}

.product-info{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:15px 0;
    padding:0 10px;
    font-size:15px;
}

.stock{
    color:#555;
}

.stock span{
    color:#0d6efd;
    font-weight:bold;
}

.rating{
    color:#ffc107;
    font-weight:bold;
}

.rating span{
    color:#666;
    font-size:14px;
}



.product-list{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(280px,1fr));
    gap:25px;
}

.product-card{
    background:#fff;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
    transition:.3s;
    cursor: pointer;
}

.product-card:hover{
    transform:translateY(-8px);
}

.product-swiper{
    width:100%;
    height:250px;
}

.product-image{
    width:100%;
    height:250px;
    object-fit:cover;
}

.product-content{
    /* padding:18px; */
}

.price{
    color:red;
    font-size:28px;
    font-weight:bold;
    margin:10px 0;
}

.product-info{
    display:flex;
    justify-content:space-between;
    margin:15px 0;
}

.stock span{
    color:#0d6efd;
    font-weight:bold;
}

button{
    width:100%;
    border:none;
    background:#0d6efd;
    color:#fff;
    padding:13px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#0b5ed7;
}