*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f5f5f5;
}


.logo{

    color:white;
    font-size:30px;
    font-weight:bold;

}

.search{

    display:flex;
    width:600px;
}

.search input{

    flex:1;
    padding:12px;
    border:none;
    outline:none;
}

.search button{

    width:60px;
    border:none;
    background:#fb5533;
    color:white;
    cursor:pointer;
}

.container{

    width:1200px;
    margin:25px auto;
}

.breadcrumb{

    margin-bottom:20px;
    color:#666;
}

.product{

    display:flex;
    background:white;
    padding:25px;
    gap:40px;
}

.left{

    width:40%;
}

.main-img{

    width:100%;
    border:1px solid #ddd;
}

.thumbs{

    display:flex;
    gap:10px;
    margin-top:15px;
}

.thumbs img{

    width:80px;
    border:2px solid transparent;
    cursor:pointer;
}

.thumbs img:hover{

    border-color:#ee4d2d;
}

.right{

    flex:1;
}

.right h2{

    font-size:24px;
    line-height:1.5;
}

.info{

    margin:20px 0;
    color:#666;

    display:flex;
    gap:15px;
}

.price{

    background:#fafafa;
    display:block;
    align-items:center;
    gap:15px;
}

.old{

    text-decoration:line-through;
    color:#999;
}

.new{

    color:#ee4d2d;
    font-size:34px;
    font-weight:bold;
}

.sale{

    background:#ee4d2d;
    color:white;
    padding:4px 10px;
    border-radius:3px;
}

.row{

    display:flex;
    margin:25px 0;
}

.title{

    width:120px;
    color:#777;
}

.content{

    flex:1;
}

.voucher{

    background:#fff0f0;
    color:#ee4d2d;
    padding:6px 12px;
    border:1px solid #ee4d2d;
    margin-right:10px;
}

.option{

    padding:10px 18px;
    border:1px solid #ccc;
    background:white;
    cursor:pointer;
    margin-right:10px;
}

.option.active{

    border:2px solid #ee4d2d;
    color:#ee4d2d;
}

.qty{

    display:flex;
    align-items:center;
    gap:10px;
}

.qty button{

    width:35px;
    height:35px;
    border:1px solid #ccc;
    background:white;
    color: black;
}

.qty input{

    width:50px;
    height:35px;
    text-align:center;
}

.buttons{

    margin-top:40px;
}

.cart{

    padding:15px 35px;
    border:1px solid #ee4d2d;
    color:#ee4d2d;
    background:#fff3f1;
    margin-right:15px;
    cursor:pointer;
    font-size:16px;
}

.buy{

    padding:16px 45px;
    border:none;
    background:#ee4d2d;
    color:white;
    cursor:pointer;
    font-size:16px;
}

.detail{

    margin-top:25px;
    background:white;
    padding:30px;
}

.detail h3{

    margin-bottom:20px;
}

table{

    width:100%;
    border-collapse:collapse;
}

td{

    border:1px solid #eee;
    padding:15px;
}

td:first-child{

    width:220px;
    background:#fafafa;
    color:#666;
}

.product-card-link {
    text-decoration: none;
    color: inherit;
}


.thumb-swiper {
    width: 100%;
    height: 90px;
}

.thumb-swiper .swiper-slide {
    width: 80px !important;
    height: 80px;
}

.thumb-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    display: block;
    cursor: pointer;
}

.thumb-img.active {
    border: 2px solid #000;
}