*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
  margin: 0;
}

.wrapper{
  display:flex;
  min-height:100vh;

}

/* Sidebar */

.sidebar {
  position: fixed;
  left: 0;
  width: 230px;
  height: 100%;
  background: #2f4050;
  color: white;
  overflow-y: auto;
}

.logo{
  height:70px;
  display:flex;
  justify-content:center;
  align-items:center;
  border-bottom:1px solid rgba(255,255,255,.2);

}

.sidebar ul{
  list-style:none;
}

.sidebar ul button{
  padding:18px 25px;
  cursor:pointer;
  transition:.3s;
  background-color:#2f4050;
  color: white;
}

.sidebar ul button:hover{
  background:#1ab394;
}

/* Main */

.main{
  flex:1;
  display:flex;
  flex-direction:column;
  margin-left: 210px;
}

/* Topbar */

.topbar {
  position: fixed;
  top: 0;
  left: 232px;
  right: 0;
  height: 70px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  border-bottom: 1px solid #ddd;
  z-index: 1000;
}

/* .topbar input{
  width:300px;
  height:40px;
  padding:0 15px;
} */

.user{
  font-weight:bold;
}

/* Content */

.content{
  flex:1;
  background:#f3f3f4;
  padding:30px;
}
.cate ul{
  display: flex;
  margin-bottom: 0;
}
.auth ul{
  display: flex;
}

.cate ul li{
  margin-right: 20px;
  list-style: none;
}
.auth ul li{
  margin-left: 20px;
  list-style: none;
}

.cate ul li{
  padding:18px 25px;
  cursor:pointer;
  transition:.3s;

}

.cate ul button{
  padding:18px 25px;
  cursor:pointer;
  transition:.3s;
  background-color: white;
  color: black;
}

.cate ul li:hover{
  background:#1ab394;
}

.cate ul button:hover{
  background:#1ab394;
}

.auth ul li:hover{
  cursor:pointer;
}

.content{
  margin-top: 60px;
}
